<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.order.OrderMapper">

    <select id="getAllOrders" resultMap="Order">
        select * from OrderList
    </select>
    <select id="getUserOrders" resultMap="Order">
        select * from OrderList where userId=#{userid}
    </select>
    <insert id="addOrder" parameterType="com.example.hotel.po.Order" useGeneratedKeys="true" keyProperty="id">
        insert into OrderList(userId,hotelId,hotelName,checkInDate,checkOutDate,roomType,roomNum,peopleNum,haveChild,createDate,price,clientName,phoneNumber,orderState)
        values(#{userId},#{hotelId},#{hotelName},#{checkInDate},#{checkOutDate},#{roomType},#{roomNum},#{peopleNum},#{haveChild},#{createDate},#{price},#{clientName},#{phoneNumber},#{orderState})
    </insert>
    <select id="getOrderById" resultMap="Order">
        select * from OrderList where id=#{orderid}
    </select>
   <!--取消订单的数据库操作-->
    <update id="annulOrder">
        update OrderList set orderState="已撤销" where id=#{orderid}
    </update>
    <delete id="deleteOrderByHotel">
        delete from OrderList where hotelId=#{hotelId}
    </delete>
    <delete id="deleteOrder">
        delete from OrderList where id=#{orderid}
    </delete>
    <update id="setOrderUnusual">
        update OrderList set orderState="异常" where id=#{orderid}
    </update>
    <update id="executeOrder">
        update OrderList set orderState="已执行" where id=#{orderid}
    </update>
    <update id="finishOrder">
        update OrderList set orderState="已退房" where id=#{orderid}
    </update>
    <update id="updateCheckOutDate">
        update OrderList set checkOutDate=#{checkOutDate} where id=#{orderid}
    </update>
    <update id="updateCheckInDate">
        update OrderList set checkInDate=#{checkInDate} where id=#{orderid}
    </update>
    <update id="setAnnualDate">
        update OrderList set createDate=#{annualDate} where id=#{orderid}
    </update>
    <select id="getUnusualOrders" resultMap="Order">
        select * from OrderList where orderState="异常"
    </select>


    <resultMap id="Order" type="com.example.hotel.po.Order">
    </resultMap>
</mapper>