<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hotel.data.user.RecordMapper">
    <insert id="addCreditRecord" parameterType="com.example.hotel.po.CreditRecord" useGeneratedKeys="true" keyProperty="id">
        insert into CreditRecord(time,userId,orderId,action,`change`,result)
        values(#{time},#{userId},#{orderId},#{action},#{change},#{result})
    </insert>
    <select id="getUserCreditRecords" resultMap="CreditRecord">
        select * from CreditRecord where userId=#{userId}
    </select>

    <resultMap id="CreditRecord" type="com.example.hotel.po.CreditRecord"></resultMap>
</mapper>