<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.hotel.CommentMapper">

    <select id="getHotelComments" resultMap="Comment">
        select * from Comment where hotelId=#{hotelId}
    </select>

    <insert id="postComment" parameterType="com.example.hotel.po.Comment"
            useGeneratedKeys="true" keyProperty="id">
        insert into Comment(hotelId,hotelName,userId,userName,rate,comment)
        values (#{hotelId},#{hotelName},#{userId},#{userName},#{rate},#{comment})
    </insert>

    <resultMap id="Comment" type="com.example.hotel.po.Comment">
    </resultMap>


</mapper>