<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.member.MemberMapper">

    <select id="getMemberInfo" resultMap="Member">
        select * from Member where userId=#{userId}
    </select>

    <insert id="registerMember" parameterType="com.example.hotel.po.Member"
            useGeneratedKeys="true" keyProperty="id">
        insert into Member(userId,type,level,birthday,companyName)
        values (#{userId},#{type},#{level},#{birthday},#{companyName})
    </insert>

    <select id="getLevelInfo" resultMap="MemberLevel">
        select * from MemberLevel
    </select>

    <update id="changeLevelInfo" parameterType="com.example.hotel.po.MemberLevel">
        update MemberLevel set credit=#{credit}, discount=#{discount} where level=#{level}
    </update>

    <delete id="deleteMember">
        delete from Member where id=#{id}
    </delete>

    <update id="updateUserLevel">
        update Member set level=#{level} where userId=#{userId}
    </update>

    <resultMap id="Member" type="com.example.hotel.po.Member"></resultMap>
    <resultMap id="MemberLevel" type="com.example.hotel.po.MemberLevel"></resultMap>

</mapper>